<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Rotas IFTM</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
      <li routerLinkActive="active">
        <a routerLink="/signin" *ngIf="!isAuth()">Login</a>
      </li>
      <li routerLinkActive="active">
        <a (click)="onLogout()" *ngIf="isAuth()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
